body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f5f5f5;
}

#kartAlani {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.kart {
    width: 200px;
    border: 1px solid #f4dddd;
    padding: 10px;
    background: rgb(231, 211, 211);
    border-radius: 10px;
    box-shadow: 0 0 5px #a61818;
    text-align: center;
}

.pahali {
    background: #da7979;
}

.kart img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 6px;
}
